.firstdiv{
    float: left;
}
img{
    height: 550px;
    width: 100%;
    margin: 10px;
   
}
.secdiv{
    float: right;
    border: 2px solid black;
    width: 70%;
    margin: 10px;
    height: 500px;
    
    
}
h1{
    color: black;
    margin: 30px;
}